<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Kalendarzyk sportowy</h1>
    </header>
    <main>
        <section>
            <h2>O naszej stronie</h2>
            <p>Witaj na naszej stronie poświęconej zapisywaniu wyników sportowych! Tutaj możesz śledzić nasze osiągnięcia sportowe oraz nieudostępniać swoje wyniki i sukcesy&#40;nah, tylko my&#41;. Niezależnie od tego, czy jesteś zawodowym sportowcem, amatorskim entuzjastą czy po prostu chcesz zapisywać swoje wyniki treningów, nasza strona nie pomoże ci w tym zadaniu.</p>
        </section>
        <!-- Tutaj możesz dodać więcej sekcji i funkcji, związanych z "kalendarzem sportowym" czy jakkolwiek to nazwiemy -->
        
        <div class="button">
        <a href="../../../login/templates/login/login.html">Logowanie</a>
    </div>
    </main>
</body>
</html>